#estoque ::-webkit-input-placeholder {
  color: #969696;
}
#estoque :-moz-placeholder {
  color: #969696;
}
#estoque ::-moz-placeholder {
  color: #969696;
}
#estoque #medida {
  height: 46px;
}
#estoque .wrapper-download {
  width: 100%;
}
#estoque table .status {
  width: 100px;
}
